In [154]:
import pandas as pd
import numpy as np

%run Biblioteca.ipynb

In [155]:
df = pd.read_csv('dados.csv')
df

    Ano de Ingresso  Joga Algo  Joga LoL              Nick     CR
0              2015          1         0               NaN  60.60
1              2015          1         0               NaN  53.00
2              2017          1         0               NaN  43.80
3              2014          1         0               NaN  42.00
4              2014          1         0               NaN  68.40
5              2016          1         0               NaN  72.30
6              2013          1         0               NaN  50.00
7              2015          1         0               NaN  70.20
8              2013          1         0               NaN  43.10
9              2016          1         1               evh  45.80
10             2016          1         1      sudo rm name  82.20
11             2016          1         1           samdrix  67.90
12             2016          1         1            fesder  75.60
13             2016          1         1      00strouker00    NaN
14             2016          1         1  fire of balerion  43.80
15             2015          1         1      zodiac spear  86.40
16             2015          1         1    thedarkdescent  68.70
17             2014          1         1           the t0m  57.90
18             2016          1         1        radswalker  64.50
19             2016          1         1           eike1v9  57.20
20             2014          0         0               NaN  70.80
21             2015          0         0               NaN  55.80
22             2016          0         0               NaN  77.00
23             2016          0         0               NaN  72.40
24             2016          0         0               NaN  70.80
25             2016          0         0               NaN  54.50
26             2017          1         0               NaN  68.00
27             2015          0         0               NaN  55.90
28             2013          1         0               NaN  51.50
29             2015          1         0               NaN  68.20
30             2013          0         0               NaN  85.00
31             2015          0         0               NaN  64.00
32             2015          0         0               NaN  65.60
33             2015          0         0               NaN  84.60
34             2016          1         0               NaN  55.10
35             2017          1         0               NaN  55.00
36             2018          1         1         BlakAiron  75.00
37             2018          1         1    CalangoG Brabo  69.50
38             2017          1         1           Lesslie  56.00
39             2018          1         1    Depressive Lux  33.80
40             2017          1         1           Malodex  48.70
41             2018          1         0               NaN  51.30
42             2018          1         0               NaN  39.15
43             2018          1         0               NaN  46.60
44             2018          0         0               NaN  33.30
45             2018          1         0               NaN  75.80

In [156]:
df['Ano de Ingresso'] = pandas.to_numeric(df['Ano de Ingresso'])
df['CR'] = pandas.to_numeric(df['CR'])
df['Joga Algo'] = df['Joga Algo']==1
df['Joga LoL'] = df['Joga LoL']==1
df.head(5)

   Ano de Ingresso  Joga Algo  Joga LoL Nick    CR
0             2015       True     False  NaN  60.6
1             2015       True     False  NaN  53.0
2             2017       True     False  NaN  43.8
3             2014       True     False  NaN  42.0
4             2014       True     False  NaN  68.4

In [157]:
players = []
semNicks = df['Nick'].isnull()
n = 0
for linha in df.itertuples():
    if semNicks[n] != True:
        print(linha.Nick)
        players.append(Player(linha.Nick))
    n = n+1

evh
sudo rm name
samdrix
fesder
00strouker00
fire of balerion
zodiac spear
thedarkdescent
the t0m
radswalker
eike1v9
BlakAiron
CalangoG Brabo
Lesslie
Depressive Lux
Malodex

In [160]:
for jogador in players:
    print("Nick: " + jogador.Summoner.nick)
    print("ID: " + jogador.Summoner.accountId)
    print("Nível: " + jogador.Summoner.summonerLevel)
    print("Total de Partidas: " +  jogador.MatchList.totalGames)
    print("Total de Tempo de Jogo (estimado): " +  jogador.MatchList.totalHours + " horas")
    print("Campeão preferido: " + jogador.Champions.mainChampionName)
    print("Maestria com o Campeão: " + jogador.Champions.mainChampionPoints)
    print("Elo: "+ jogador.Leagues.tier)
    print("Divisão: " + jogador.Leagues.rank)
    print("Vitórias: " + str(jogador.Leagues.wins))
    print("Derrotas: " + str(jogador.Leagues.losses))
    print("Porcentagem de Vitórias: " + str(jogador.Leagues.winrate) + "%")
    print("==================================================================")

Nick: evh
ID: 200304136
Nível: 87
Total de Partidas: 3751
Total de Tempo de Jogo (estimado): 2188 horas
Campeão preferido: Yasuo
Maestria com o Campeão: 124061
Elo: GOLD
Divisão: I
Vitórias: 11
Derrotas: 22
Porcentagem de Vitórias: 33.33%
==================================================================
Nick: sudo rm name
ID: 213331961
Nível: 162
Total de Partidas: 4741
Total de Tempo de Jogo (estimado): 2765 horas
Campeão preferido: Braum
Maestria com o Campeão: 135452
Elo: PLATINUM
Divisão: III
Vitórias: 142
Derrotas: 122
Porcentagem de Vitórias: 53.79%
==================================================================
Nick: samdrix
ID: 205747689
Nível: 84
Total de Partidas: 1704
Total de Tempo de Jogo (estimado): 994 horas
Campeão preferido: Miss Fortune
Maestria com o Campeão: 24000
Elo:
Divisão:
Vitórias:
Derrotas:
Porcentagem de Vitórias: %
==================================================================
Nick: fesder
ID: 201458849
Nível: 113
Total de Partidas: 3719
Total de Tempo de Jogo (estimado): 2169 horas
Campeão preferido: Janna
Maestria com o Campeão: 142484
Elo: GOLD
Divisão: IV
Vitórias: 36
Derrotas: 32
Porcentagem de Vitórias: 52.94%
==================================================================
Nick: 00strouker00
ID: 210725644
Nível: 110
Total de Partidas: 3143
Total de Tempo de Jogo (estimado): 1833 horas
Campeão preferido: Tahm Kench
Maestria com o Campeão: 206102
Elo: SILVER
Divisão: II
Vitórias: 76
Derrotas: 85
Porcentagem de Vitórias: 47.2%
==================================================================
Nick: fire of balerion
ID: 215095300
Nível: 133
Total de Partidas: 3267
Total de Tempo de Jogo (estimado): 1905 horas
Campeão preferido: Zed
Maestria com o Campeão: 218438
Elo: PLATINUM
Divisão: V
Vitórias: 166
Derrotas: 155
Porcentagem de Vitórias: 51.71%
==================================================================
Nick: zodiac spear
ID: 202135935
Nível: 103
Total de Partidas: 2810
Total de Tempo de Jogo (estimado): 1639 horas
Campeão preferido: Rek'Sai
Maestria com o Campeão: 134568
Elo: PLATINUM
Divisão: IV
Vitórias: 10
Derrotas: 0
Porcentagem de Vitórias: 100.0%
==================================================================
Nick: thedarkdescent
ID: 200585791
Nível: 119
Total de Partidas: 4057
Total de Tempo de Jogo (estimado): 2366 horas
Campeão preferido: Poppy
Maestria com o Campeão: 200136
Elo: DIAMOND
Divisão: V
Vitórias: 27
Derrotas: 11
Porcentagem de Vitórias: 71.05%
==================================================================
Nick: the t0m
ID: 214947813
Nível: 80
Total de Partidas: 1578
Total de Tempo de Jogo (estimado): 920 horas
Campeão preferido: Miss Fortune
Maestria com o Campeão: 122222
Elo: GOLD
Divisão: IV
Vitórias: 87
Derrotas: 74
Porcentagem de Vitórias: 54.04%
==================================================================
Nick: radswalker
ID: 204808303
Nível: 106
Total de Partidas: 1594
Total de Tempo de Jogo (estimado): 929 horas
Campeão preferido: Jax
Maestria com o Campeão: 63322
Elo: SILVER
Divisão: III
Vitórias: 11
Derrotas: 13
Porcentagem de Vitórias: 45.83%
==================================================================
Nick: eike1v9
ID: 217440093
Nível: 111
Total de Partidas: 1304
Total de Tempo de Jogo (estimado): 760 horas
Campeão preferido: Zoe
Maestria com o Campeão: 109174
Elo: SILVER
Divisão: IV
Vitórias: 32
Derrotas: 42
Porcentagem de Vitórias: 43.24%
==================================================================
Nick: BlakAiron
ID: 204265094
Nível: 75
Total de Partidas: 1150
Total de Tempo de Jogo (estimado): 670 horas
Campeão preferido: Alistar
Maestria com o Campeão: 89528
Elo: GOLD
Divisão: V
Vitórias: 96
Derrotas: 85
Porcentagem de Vitórias: 53.04%
==================================================================
Nick: CalangoG Brabo
ID: 1712879
Nível: 73
Total de Partidas: 2289
Total de Tempo de Jogo (estimado): 1335 horas
Campeão preferido: Lee Sin
Maestria com o Campeão: 174866
Elo: GOLD
Divisão: I
Vitórias: 54
Derrotas: 54
Porcentagem de Vitórias: 50.0%
==================================================================
Nick: Lesslie
ID: 207477917
Nível: 81
Total de Partidas: 1718
Total de Tempo de Jogo (estimado): 1002 horas
Campeão preferido: Lulu
Maestria com o Campeão: 86998
Elo: GOLD
Divisão: IV
Vitórias: 36
Derrotas: 45
Porcentagem de Vitórias: 44.44%
==================================================================
Nick: Depressive Lux
ID: 211498111
Nível: 140
Total de Partidas: 4338
Total de Tempo de Jogo (estimado): 2530 horas
Campeão preferido: Lux
Maestria com o Campeão: 220158
Elo: PLATINUM
Divisão: V
Vitórias: 47
Derrotas: 35
Porcentagem de Vitórias: 57.32%
==================================================================
Nick: Malodex
ID: 201497079
Nível: 38
Total de Partidas: 3224
Total de Tempo de Jogo (estimado): 1880 horas
Campeão preferido: Thresh
Maestria com o Campeão: 184854
Elo: GOLD
Divisão: III
Vitórias: 7
Derrotas: 3
Porcentagem de Vitórias: 70.0%
==================================================================